@import "./tokens.css";

/* ==========================================================
   Layout
   ========================================================== */

.container {

    width: min(
        var(--page-max-width),
        calc(100% - 4rem)
    );

    margin-inline: auto;

}

/* ==========================================================
   Generic Section
   ========================================================== */

.section {

    padding-block: var(--space-lg);

}

/* ==========================================================
   Hero
   ========================================================== */


.hero {

    padding-block: calc(var(--space-xl) * 2);

}

/* ==========================================================
   Main
   ========================================================== */

main {

    display: flex;

    flex-direction: column;

    gap: var(--space-xl);

}